h3 {
  color:gray;
  font-size: 21px;
  font-weight: normal
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

* {
  background-color: black;
  text-align: center;
  font-family: verdana;
  color: white;
}

#copyright {
  text-align: right;
  color: gray;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

a {
  color: aquamarine;
  font-size: 16px;
}
